button {
  border-radius: 3px;
  background: #cefaeb;
  border: none;
  box-sizing: border-box;
  padding: 0;
  font-size: 20px;
  color: #a6a6a6;
  cursor: pointer;
  outline: none;
}

button:hover {
  border: 1px solid #a6a6a6;
  color: #777;
}

#bold,
#italic,
#underline {
  font-size: 18px;
}

#underline,
#align-right {
  margin-right: 17px;
}

#align-left {
  margin-left: 17px;
}

select {
  font-size: 15px;
  font-weight: bold;
  color: #444;
  background: #fcfcfc;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  margin: 0;
  outline: none;
  cursor: pointer;
}

select > option {
  font-size: 15px;
  background: #fafafa;
}

#fonts {
  width: 140px;
}

.sp-replacer {
  background: #fcfcfc;
  padding: 1px 2px 1px 3px;
  border-radius: 3px;
  border-color: #a6a6a6;
  margin-top: -1px;
}

.sp-replacer:hover {
  border-color: #a6a6a6;
  color: inherit;
}

.sp-preview {
  width: 15px;
  height: 15px;
  border: none;
  margin-top: 2px;
  margin-right: 3px;
}

.sp-preview-inner,
.sp-alpha-inner,
.sp-thumb-inner {
  border-radius: 3px;
}

html,
body {
  position: relative;
  height: 100%;
}

F .wrapper {
  position: relative;
  height: 100%;
}

pre {
  max-width: 30em;
  display: block;
  background: #1f1f1f;
  color: white;
  padding: 0.5em;
  border: 1px solid black;
  word-break: break-all;
  word-wrap: break-word;
}

#style1 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.box-left {
  width: 21rem;
  height: 100%;
  float: left;
  margin: 0;
  padding: 0.5rem;
}

#submit {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  border: none !important;
  outline: none !important;
  width: 440px;
  background-color: black;
}

#form {
  background-color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 40px;
  border-radius: 0 !important;
  border-color: none;
  box-shadow: none;
  font-size: 16px;
}

#Name {
  background-color: #d3d3d3;
  border-radius: 0 !important;
  border-color: none;
  box-shadow: none;
  width: 350px;
  color: #333333;
}

#textarea {
  background-color: #d3d3d3;
  border-radius: 0 !important;
  border-color: none;
  box-shadow: none;
  width: 350px;
  color: #333333;
}

#email {
  background-color: #d3d3d3;
  border-radius: 0 !important;
  border-color: none;
  box-shadow: none;
  width: 350px;
}

#phone {
  background-color: #d3d3d3;
  border-radius: 0 !important;
  border-color: none;
  box-shadow: none;
  width: 350px;
}

.header2Class {
  background: #f3f6fe;
  padding: 9px;
  box-shadow: 2px 2px 3px -2px #5f2ded;
  margin-bottom: 10px;
}

.header21Class {
  background: #f3f6fe;
  padding: 9px;
  box-shadow: 2px 2px 3px -2px #5f2ded;
  margin-bottom: 10px;
}

#submit {
  border-radius: 0 !important;
  border-color: none;
  box-shadow: none;
  width: 350px;
}

.box-right {
  position: relative;
  width: calc(90% - 15rem);
  height: calc(1600px);
  float: left;
  margin: 0;
  margin-bottom: 1em;
  padding: 1rem;
  overflow-y: auto;
}

.box-left div {
  display: block;
  padding: 0.5rem;
  border-radius: 15px;
  margin: 0;
  margin-bottom: 0.2em;
  text-align: center;
  line-height: 2.7rem;
  background: #5f2ded;
  border: 0px solid #252525;
  color: white;
  cursor: all-scroll;
  text-align: left;
}

.box-left div:hover .box-left div:focus {
  background: #333;
}

.reset,
.save {
  text-align: right;
  padding: 0.5em 1em;
  background: #cec3ff !important;
  border: 1px solid #252525;
  color: black !important;
  margin: 0.8em 0.2em;
  cursor: pointer;
}

.reset:focus,
.save:focus {
  background: #333;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  background: #5f2ded !important;
  display: block !important;
  padding: 0.5rem !important;
  text-align: center !important;
  line-height: 2rem !important;
  border: 1px solid red !important;
  color: white !important;
  overflow: hidden;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  background: #5f2ded !important;
  line-height: 1.2em;
  min-height: 5em;
}

@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,500,300);

body {
  background: #ebeff2;
  font-family: "Exo 2";
}

.zone.in {
  color: white;
  border-color: white;
  background: radial-gradient(ellipse at center, #eb6a5a 0, #c9402f 100%);

  i {
    color: #fff;
  }

  label {
    background: #fff;
    color: #eb6a5a;
  }
}

.zone.hover {
  color: gray;
  border-color: white;
  background: #fff;
  border: 5px dashed gray;

  i {
    color: #eb6a5a;
  }

  label {
    background: #fff;
    color: #eb6a5a;
  }
}

.zone.fade {
  transition: all 0.3s ease-out;
  opacity: 1;
}

#editor {
  width: 100%;
  height: 300px;
}
