.lv-navbar {
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.lv-navbar-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.lv-container {
  background-color: #f1f2ec;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.lv-scrollable-content {
  overflow-y: auto; /* Enable vertical scrollbar if content overflows vertically */
  height: 100%; /* Take up 100% of the container height */
  padding: 10px; /* Add padding to make it look better */
}

.lv-container-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.lv-container-subtitle {
  color: #666;
  font-size: 18px;
}

.lv-main-container {
  display: flex;
  height: calc(100vh - 250px);
}

.lv-left-container,
.lv-right-container {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
}

.lv-question-pagination,
.lv-part-pagination {
  display: flex;
  margin-left: 10px;
  width: 50%;
  overflow-x: auto;
}

.lv-footer-button {
  width: 80px;
  margin-right: 10px;
  background-color: #5f2ded;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.lv-footer-button:hover {
  color: white;
}

.lv-footer-item {
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 20px;
}

.lv-userName {
  background-color: #5f2ded;
  color: white;
  border-radius: 10px;
  padding: 8px;
  margin-left: 10px;
}

.lv-footer-item:hover {
  text-decoration: none;
  border: 1px solid white;
  font-weight: bold;
  background-color: #5f2ded;
  color: white;
  border-radius: 10px;
}

.lv-highlight {
  background-color: #ffffcc;
}

.lv-footer-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
